@using Coffee_Shop.Models
@model Basket
<!DOCTYPE html>
<style>
    body {
        background-color: black;
        color: white;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .cart-container {
        max-width: 800px;
        margin: 50px auto;
        background-color: #14141D;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-item {
        display: flex;
        align-items: center;
        background: #14141D;
        padding: 10px;
        border-radius: 10px;
    }

    .cart-item-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 10px;
    }

    .item-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 10px;
    }

        .item-details h3 {
            font-size: 18px;
            color: #333;
        }

    .quantity {
        display: flex;
        align-items: center;
        gap: 5px;
    }

        .quantity button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

    .item-price {
        font-size: 16px;
        color: #333;
    }

    .remove-item {
        background-color: transparent;
        border: none;
        color: #C7A17A;
        font-size: 14px;
        cursor: pointer;
        margin-top: 10px;
    }

    .checkout-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .total {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

        .total p {
            font-size: 16px;
            color: #333;
        }

    /*.checkout-button {
        background-color: #C7A17A;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }*/

    .checkout {
        width: 340px;
        height: 50px;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        flex-shrink: 0;
        border-radius: 10px;
        background: #C7A17A;
        margin: 30px 30px 30px 30px;
    }

        .checkout a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
        }


    .pre_footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #14141D;
        color: white;
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .footer_logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_menu-icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footerlogo {
        width: 55px;
        height: 55px;
    }

    .footer_logo-text {
        font-size: 24px;
        font-weight: bold;
    }

    .footer_menu-icons p,
    .contacts p {
        font-size: 16px;
        font-weight: bold;
    }

</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>  
</head>
<body>
    <div class="cart-container">
        <h1>CART</h1>
        <ul class="cart-items">
            <li class="cart-item">
                @if (Model != null)
                {
                    @foreach (var product in Model.BasketItem)
                    {
                        @switch ((int)product.Coffee.CoffeeType)
                        {
                            case 0:
                                <img class="card-img-top" src="~/images/product1 1.png" alt="@product.Coffee.Name">
                                break;
                            case 1:
                                <img class="card-img-top" src="~/images/product1 1.png" alt="@product.Coffee.Name">
                                break;
                            case 2:
                                <img class="card-img-top" src="~/images/product2 1.png" alt="@product.Coffee.Name">
                                break;
                            case 3:
                                <img class="card-img-top" src="~/images/product2 1.png" alt="@product.Coffee.Name">
                                break;
                            case 4:
                                <img class="card-img-top" src="~/images/product1 1.png" alt="@product.Coffee.Name">
                                break;
                        }
                        <div class="item-details">
                            <h3></h3>
                            <p>Price: @product.Coffee.Price</p>
                            <div class="quantity">
                                <button>-</button>
                                <span>@product.Quantity</span>
                                <button>+</button>
                            </div>
                            <p>Total: @product.Coffee.Price</p>
                        </div>
                    }                    
                }                
        </ul>
        <div class="total">           
            @if (Model != null)
            {
                <p>Total Price: @Model.BasketItem.Sum(x => x.Coffee.Price * x.Quantity) </p>

                <div class="checkout">
                    <a class="btn-primary" href="@Url.Action("CreateOrder", "Orders",new{value = Model.BasketItem.Sum(x => x.Coffee.Price * x.Quantity)})">
                        Checkout
                    </a>
                </div>
            }
            else
            {
                <p>Total Price: 0</p>
            }
        </div>
      
    </div>
    <footer class="pre_footer">
        <div class="footer_logo-text">
            <img class="footerlogo" src="~/images/HeaderLogo.png" />
            <p class="footer_logo-text">CoffeMeet</p>
        </div>
        <div class="footer_menu-icons">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reservation</a></li>
            </ul>
            <p>RESERVATION</p>
        </div>
        <div class="contacts">
            <p>Contacts</p>
            <p>Privacy policy</p>
        </div>
    </footer>
    <script src="~/js/Basket.js"></script>
</body>
</html>
